$ cat .gitignore
# ignore pycache files
/__pycache__/
/debug_log
/debug_log/*
/unusual_logs
unusual_activities.txt
conda --add channels
conda thu channels
/RL/reload_model/*.zip
/RL/practice_sb3/reload_model/cart*.zip

/RL/practice_sb3/savedModels/second/*.zip
!/RL/practice_sb3/savedModels/second/*0M.zip
# !/RL/practice_sb3/savedModels/second/*5M.zip

/Simulation/unusual_activities.txt
/Simulation/logs/
/Simulation/unusual_logs/
/Simulation/debug_log/
/RL/gym-master/

/Simulation/__pycache__/
/Simulation/Util/__pycache__/
/Simulation/envs/__pycache__/

/RL/tutorials&practice_stable-baselines3
/RL/tutorials&practice_stable-baselines3/*

/RL/practice_sb3/savedModels/second/*
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_700M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_725M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_750M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_775M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_800M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_825M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_850M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_875M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_900M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_950M
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.00B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.01B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.02B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.03B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.04B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.05B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.06B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.07B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.08B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.09B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.1*B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.2*B
!/RL/practice_sb3/savedModels/second/HumanoidStandup-v4_tau0.01gamma0.9alpha0.001_1.3*B

/Simulation/straightRoadModels/temps/
!/Simulation/straightRoadModels/test_run_1/

/logs/earlyTerminationAt65K

/Simulation/CusEnv.py
/Simulation/temp.py
/Simulation/SAC_StraightRoad-v1_256_1e-5_0809/
/test/
/MultiProcessing/__pycache__/
/MultiProcessing/Util/__pycache__/
/MultiProcessing/envs/__pycache__/
/MultiProcessing/tb_log/
